.unique-color-1 {
    background-color: #dfe6a3;
}
.unique-color-2 {
    background-color: #f2f2f0;
}
.text-family-header {
    font-family: Ink Free
}
.underImageText {
    font-size: 0.8rem;
    width: 100%
}
.mini-button {
    width:40px; 
    height:40px; 
    border-color: grey; 
    border-width: 0.05rem;
    border-radius: 0.375rem;
}
.mini-button-add-remove {
    width:20px; 
    height:20px; 
    border-color: grey; 
    border-width: 0.05rem;
    border-radius: 0.375rem;
    padding: 0;
    margin: 0;
}
.page-divider {
    text-align: center;
    padding: 10px;
    justify-content: center;
    height: 500px;
}
.one {
    float: left;  
    width:60%;
    border-right: 1px solid grey;
}
.two {
    float: left;
    width:40%;
}

@media only screen and (max-width: 700px) {
    .one {
        float: none;  
        border-right: none;
        width: 100%

    }
    .two {
        float: none;  
        width: 100%
    }
}

.pagination > li > a
{
    background-color: white;
    color: #d8e089;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #f2f6d4;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #dfe6a3 !important;
    border: 1px solid #d8e089 !important;
}

.pagination > .active > a:hover
{
    background-color: #d8e089 !important;
    border: solid 1px green;
}
.horizontal-hr {
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
    margin-top: 0;
    margin-bottom: 1rem;
}

.frame {
    border-radius: 0.7rem;
    border: 2px solid #dfe6a3;
    margin-right: 5px;
}
.button-cancel {
    width:40px; 
    height:40px; 
    border-width: 0;
    border-radius: 3rem;
}
