.unique-color-1 {
    background-color: #dfe6a3;
}
.unique-color-2 {
    background-color: #f2f2f0;
}
.text-family-header {
    font-family: Ink Free
}
.underImageText {
    font-size: 0.8rem;
    width: 100%
}