{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/ink-free" rel="stylesheet">
    <link href="{% static 'recipes/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'recipes/css/unique.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'recipes/images/siteIcon.ico' %}">
    <title>{% block title %}MyMealList{% endblock %}</title>
</head>
<body style="background-color:#f2f2f0;">
<div class="container-fluid unique-color-1" style="border-radius: 0.275rem">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom-0">
        <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ms-md-4 text-dark">
            <span class="fs-3 text-family-header">MyMealList</span>
        </p>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'recipes:meal_list' %}"
                                    class="nav-link text-black text-family-header fs-5">Dishes</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-black text-family-header fs-5">Fridge</a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                <img src="{% static 'recipes/images/listIcon.png' %}" class="bi" width="33" height="33">
            </a></li>
        </ul>
    </header>
</div>

<div id="content" class="container mt-4 px-lg-5" style="min-height: 800px">
    {% block content %}{% endblock %}
</div>

<footer class="mt-0 unique-color-1">
    <div class="container py-4 align-items-center">
        <hr style="color: inherit;
            border: 0;
            border-top: var(--bs-border-width) solid;
            opacity: 0.25;
            margin-top: 0;
            margin-bottom: 1rem;">
        <p class="text-center" style="font-size: 0.9rem;">
            Developers' contacts:
        </p>
        <p class="text-center" style="font-size: 0.8rem;">
            LoremIpsum@gmail.com
            <br>
            LoremIpsum@gmail.com
            <br>
            LoremIpsum@gmail.com
        </p>

    </div>

</footer>


<script src="{% static 'recipes/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>