{% extends 'recipes/base.html' %}
{% load static %}

{% block content %}
    <div class="page-divider one justify-content-center">

        <div class="container mm">

            <h1 class="text-center mt-2 text-family-header mb-5" style="font-size: 26px;">Your dish list ♡</h1>
            <div id="mealListContainer"></div>
        </div>

    </div>
    <div class="page-divider two">
        <div class="container ps-5">
            <h1 class="text-center mt-2 text-family-header mb-4" style="font-size: 26px;">Food you need to buy:</h1>
            <div id="ingredientListContainer"></div>
        </div>
    </div>
{% endblock %}
