{% extends 'recipes/base.html' %}
{% load static %}

{% block content %}

    <h1 class="text-center mt-5 fw-bold text-family-header mb-4" style="font-size: 24px;">Current products</h1>

    <div class="container-fluid">
        <div id="current" class="row mt-2 underImageText">
        </div>
    </div>

    <div class="container border-top mt-5">

        <div class="container">
            <button type="button" class="button-cook">What can I cook?</button>
        </div>
        
        <h1 class="text-center mt-5 fw-bold text-family-header mb-4" style="font-size: 24px;">All ingredients</h1>
    </div>

    {% static 'recipes/images/noImage.jpg' as no_image_url %}
    {% regroup ingredient_list by category as ingredient_groups %}
    {% for category, ingredients in ingredient_groups %}
        <div class="category">
            <h2 class="text-center mt-4 fw-bold text-family-header mb-4"
                style="font-size: 22px;">{{ category.name|default:"Other" }}</h2>
            <div class="container-fluid">
                <div class="row mt-2 underImageText">
                    {% for ingredient in ingredients %}
                        <div class="col text-center">
                            <p class="text-center mb-1">{{ ingredient.name }}</p>
                            {% firstof ingredient.small_image_url ingredient.image_url no_image_url as image_url %}
                            <img src="{{ image_url }}" alt="{{ ingredient.name }} image"
                                 class="rounded mx-auto d-block mb-2" style="width: 60px; height: 60px;">
                            <button type="button" class="mini-button-add-remove mb-4">+</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}